body {
    font-family: sans-serif;
    background-image: linear-gradient(white, darkgreen);
}

h1 {
    text-align: center;
    margin: 20px;
    color: red;
}

.music {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

iframe {
    margin: 10px;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(white, lightgreen);
}

.video {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
